.about-me-section {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 7rem;
  }
  
  .profile-image {
    width: 50%; /* Ajusta a largura da coluna para 50% */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente dentro da coluna */
    align-items: center; /* Centraliza a imagem verticalmente dentro da coluna */
  }
  
  .profile-image img {
    width: 30rem; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .about-me-text {
    padding:0 6rem;
    text-align: left;
    width: 50%; /* Ajusta a largura da coluna para 50% */
    margin-right: 2rem;
  }
  

  .about-me-text h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #A3A0A0;
  }

 .about-me-section h1{
    color: #D9D9D9;
    font-size: 3rem;
    font-weight: 700;
    
 }
 

 .about-me-section p{
   font-size: 1.5rem; 
 }

.highlight-about-me{
  color: #A3A0A0;
}

 .icons-about-me{
  display: flex;
  align-items: center;
  gap: 1.5rem;
 }

 .icons-about-me img{
  margin-top: 1.5rem;
  width: 70%;
  transition: 0.3s;
 }

  .icons-about-me img:hover{
    transform: scale(1.1);
  
  }

  @media (max-width: 768px) {
    .about-me-section {
      flex-direction: column;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    .profile-image {
      width: 100%;
    }
  
    .about-me-text {
      width: 90%;
      padding: 0 2rem;
    }
  }

  @media (max-width: 500px) {
    .profile-image img{
      display: none;
    }
    .about-me-text h1{
      font-size: 2.5rem;
    }
    .about-me-text p{
      font-size: 1.2rem;
    }
    .icons-about-me img{
      width: 50%;
    }
  }