header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.theme {
    display: flex;
    align-items: center;
    padding-top: 3%;
    margin-right: 3.625rem;
    margin-left: auto;
}

.theme > img, .select-theme {
    margin: 0 0.625rem; /* Adiciona um espaçamento de 10px entre todos os itens */
}

#dark_mode {
    width: 1.25rem;
    height: 1.25rem;
}

.select-theme {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-theme {
    position: absolute;
    top: 50%;
    left: 10%; /* Ajuste conforme necessário para o posicionamento desejado */
    transform: translate(-50%, -50%);
}

.select-theme img {
    display: block;
}

.continer-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0;
    
}

.intro {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    line-height:0.8;
    height: 100vh;
    gap: 0;    
    margin: -3% 34rem;
}

.title-hello{
    margin-bottom: 1rem;
}

.container-home-icons {
    display: flex;
    flex-wrap:nowrap; /* Permite que os itens "quebrem" em uma nova linha */
    margin-bottom: 1rem;
}

.social-icons{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    z-index: 1;
}

.social-icons a img{
    width: 80%;
    transition: 0.3s;
}

.social-icons a img:hover{
    transform: scale(1.1);
}

.text-home{     
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    letter-spacing:  0.1rem;
}


.part1-text-home{
    font-size: 7rem;
    margin: 0;
    z-index: 0;
    margin-bottom: 1%;
 }
 
 .part2-text-home{
    text-align: left;
    width: 100%;
    font-size:13rem;
    margin: 0;
    z-index: 0;
 }

.text-description-home{    
    width: 100%;     
    margin: 0;
    font-size: 1.5rem;
    text-align: right;
    color: #D9D9D9;
    line-height: 1.2;
    margin-top: 1rem;
}

.title-home{
    width: 100%;
    align-self: flex-start;
    text-align: left;
    font-size: 2.25rem;
    color: #D9D9D9;   
    margin: 0; 
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .intro {
        margin: -3% 23rem;
    }
    .part1-text-home{
        font-size: 6rem;
    }
}

@media (max-width: 1044px) {
    .intro {
        margin: -3% 20rem;
    }
}

@media (max-width: 972px) {
    .intro {
        margin: -3% 20rem;
    }
    .text-description-home{
        font-size: 1.2rem;
    }
    .part1-text-home{
        font-size: 5rem;
    }
    .part2-text-home{
        font-size: 10rem;
    }
    .social-icons a img{
        width: 70%;
    }
}

@media (max-width:930px){
  .part1-text-home{
    font-size: 4rem;
  }
  .part2-text-home{
    font-size: 8rem;
  }
  .social-icons a img{
    width: 60%;
  }
  .social-icons{
    gap: 0;
  }
  .title-home{
    font-size: 1.5rem;
  }
}

@media (max-width: 880px) {
    .intro {
        margin: -3% 15rem;
    }
}

@media (max-width: 768px) {
    .intro {
        margin: -3% 14rem;
    }
  
}

@media (max-width: 732px) {
    .intro {
        margin: -3% 12rem;
    }

}

@media (max-width: 670px) {
    .intro {
        margin: -3% 10rem;
    }
   
}

@media (max-width: 630px) {
    .intro {
        margin: -3% 8rem;
    }
    .text-description-home{
        font-size: 1rem;
    }
    .part1-text-home{
        font-size: 3.5rem;
    }
}

@media (max-width: 512px) {
  .intro{
    margin: -3% 6rem;
  }
  .part1-text-home{
    font-size: 3rem;
  }
  .social-icons a img{
    width: 60%;
  }
  .social-icons{
    gap: 0.2rem;
  }
}

@media (max-width: 460px) {
  .intro{
    margin: -3% 4rem;
  }
  .title-home{
    font-size: 1.5rem;
  }
  .part2-text-home{
    font-size: 6rem;
  }

  .text-description-home{
    text-align: left;
  }
}

@media (max-width: 420px) {
  .intro{
    margin: -3% 5rem;
  }

  .text-description-home{
    display: none;
  }
}

@media (max-width: 375px) {
  .intro{
    margin: -3% 1rem;
  }
  .part1-text-home{
    font-size: 3rem;
  }
  .part2-text-home{
    font-size: 7rem;
  }
  .title-home{
    font-size: 1.2rem;
  }
  .social-icons{
    width: 50%;
  }
}

@media (max-width:340px){
    .part1-text-home{
        font-size: 2.5rem;
    }
    .part2-text-home{
        font-size: 6rem;
    }
    .title-home{
        font-size: 1rem;
    }
    .social-icons{
        width: 50%;
    }
}

@media (max-width: 300px) {
    .intro {
        margin: -3% 0.5rem;
    }
    .part1-text-home{
        font-size: 2rem;
    }
    .part2-text-home{
        font-size: 5rem;
    }
    .title-home{
        font-size: 1rem;
    }
    .social-icons{
        width: 50%;
    }
}