.menu-icon{
  width: 3.625rem;
  height: 4rem;/* Fixa a imagem na tela */
  margin-top: 32px;           
  margin-left: 58px;     
  position: fixed;
  z-index: 1000;
}



.menu-icon img {
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}