.menu-icon {
    width: 100px; /* Largura do círculo */
    height: 100px; /* Altura do círculo (deve ser igual à largura para criar um círculo) */
    border-radius: 50%; /* Faz com que o elemento tenha bordas arredondadas */
    background-color: purple;
  }
