.menu-icon{
  width: 3.625rem;
  height: 4rem;
  margin-top: 2.5rem;           
  margin-left: 3.625rem;     
  position: fixed;
  z-index: 1000;
}

.menu-icon img {
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}