.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section h1{
    padding-top: 4rem;
    margin: 0;
    font-size: 3rem;
    z-index: 1;
}

.title-content-project h2{
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.title-content-project p{
    font-size: 1.5rem;
    font-weight: bold;
}

.full-project{    
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 15rem;
    margin-left: 15rem;
    padding:2rem;
    align-items: center;
    height: 80vh;
    height: auto;
}

.project-1{
    background-color: #262626;
}

.project-2{
    background-color: #ffffff;
    color: black;
    margin-bottom:5rem ;
}

.title-content-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0;
}

.content-project{
    display: flex;
    flex-direction: row;
    gap: 7.125rem;
    padding-top: 6rem;
}

.img-project-description{
    width: 50%;
}

.description-project{
    width: 50%;
    
}

.description-project p{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}

.description-project ul{
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1.2rem;
}


.img-languages-project{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.img-languages-project img{
    width: 10%;
    height: 10%;
}

.button-project{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: all 0.4s ease-in-out;
    margin-top: 2rem;
    background-color: white;
    padding: 0.8rem 1rem;
    border: none;
    font-size: 1rem;
}

.color-button-project-1{
    color: #6100AD;
}

.color-button-project-1:hover{
    transform: scale(1.05);
    color: white;
    background-color: #8100E5;
}


.color-button-project-2{
    background-color: #8100E5;
    color: white;
}

.color-button-project-2:hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}