@import url(menu.css);
@import url(home.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

section{
min-height: 100vh;
max-height: 100vh;
}

.section1{
    background-color: #000;
}

.section2{
    background-color: #262626;
}

