/* Colocar a linha em baixo da palavra */

.word{
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    display: inline-block; /* Faz o span se comportar como um bloco em linha */
    margin-right: 1rem;
    line-height: 1; 
  }

  .word::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem; /* Espessura da linha */
    background-color: #8100E5; /* Cor da linha */
    border-radius: 1rem; /* Arredonda os cantos inferiores */
}