/* Colocar a linha em baixo da palavra */
.word {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  line-height: 1;
  z-index: 1; /* Texto acima do pseudo-elemento */
}

.word::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 0.3rem;
  background-color: #8100E5;
  border-radius: 1rem;
  z-index: -1; /* Linha atrás do texto */
}


/* Cor roxa na palavra */
.word-color-purple{
    color: #A247EA;
}

.word-color-red{
  color: rgb(245, 76, 70);
}

.word-color-darkpurple{
    color: #6100AD;
}

.font-family-montserrat{
  font-family: 'Montserrat', sans-serif;
}

/* Cor das seções */
.section1{
  background-color: #000;
}

.section2{
  background-color: #262626;
}

.send-me-email{
  background-color: #8100E5;
  height: 50vh;  
}

.gradient-black-gray {
  position: absolute; /* Permite que o gradiente seja posicionado em relação ao body */
    bottom: 0; /* Alinha na parte inferior */
    width: 100%;
  height: 3rem; /* Altura do gradiente */
  background: linear-gradient(to bottom, #000000, #262626); /* Gradiente da esquerda para a direita */
}

.gradient-gray-black {  
    bottom: 0; /* Alinha na parte inferior */
    width: 100%;
  height: 3rem; /* Altura do gradiente */
  background: linear-gradient(to bottom, #262626, #000000); /* Gradiente da esquerda para a direita */
}

.gradient-black-purple{  
  bottom: 0; /* Alinha na parte inferior */
  width: 100%;
height: 3rem; /* Altura do gradiente */
background: linear-gradient(to bottom, #000000,#5E00B8, #8100E5); /* Gradiente da esquerda para a direita */
}